body {
    display : flex;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;

}

.buttons {
    display: flex;
    justify-content: space-between;

}

button {
    padding: 10px 10px;
    display: flex;
    flex-shrink: 2;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

footer {
    margin-top: auto;
    margin-bottom: 10px;

}
